/* google fonts here */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h2,
a {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.btn {
    text-decoration: none;
    color: white;
    font-size: 18px;
    background: tomato;
    padding: 16px 21px;
    display: inline-block;
    border-radius: 5px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.h100 {
    height: 100%;
}

.pt100 {
    padding-top: 100px;
}

.mt100 {
    margin-top: 100px;
}

.text-center {
    text-align: center;
}

/* hero style */
.hero-area {
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 999;
}

.hero-area::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
    z-index: -1;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.hero-text h2 {
    font-size: 65px;
    color: white;
    padding: 0 83px;
    line-height: 78px;
}

.hero-text p {
    font-size: 18px;
    color: white;
    line-height: 28px;
    padding: 20px 205px;
}

/* donate-today style */
.section-title h2 {
    font-size: 45px;
    line-height: 58px;
    padding-bottom: 15px;
}

.section-title p {
    font-size: 18px;
    padding: 0 205px;
    color: #707070;
    margin-bottom: 50px;
}

.donate-list {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.donate-list li {
    list-style: none;
    width: 115px;
    height: 115px;
    background: #fafafa;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    border: 2px solid transparent;
}

.donate-list li:hover {
    color: tomato;
    border: 2px solid #FF5959;
    background-color: #FFEEEE;
}

.donate-fild {
    display: flex;
    justify-content: center;

}

.donate-fild input {
    width: 700px;
    text-align: center;
    height: 35px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    outline: none;
}

.secondBtn {
    text-align: center;
    margin-top: 30px;
}




/* plan area style */
.plan-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
}

.single-plan1 {
    background: rgba(79, 157, 166, 0.1);

}

.single-plan2 {
    background: rgba(255, 89, 89, 0.1)
}

.single-plan3 {
    background: #FFF4D6;

}

.single-plan {
    border-radius: 5px;
    padding: 20px;
}

.single-plan img {
    width: 58px;
    height: 49px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.single-plan h4 {
    font-size: 24px;
    padding: 10px 0;
}

.single-plan p {
    font-size: 16px;
    line-height: 24px;
    color: #707070;
}


/* subscribe area style */
.subscribe {
    width: 700px;
    background: #FFF4D6;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 60px 100px;
}

.subscribe input {
    outline: none;
    border: navajowhite;
    height: 50px;
    width: 300px;
    padding: 0 24px;
}

.subscribe button {
    outline: none;
    border: none;
    padding: 0 37px;
    background: tomato;
    color: white;
    cursor: pointer;
}

/* footer */
footer {
    background: #0B0D17;
    text-align: center;
    padding: 42px 0;
}

footer h2 {
    font-size: 36px;
    color: tomato;
}

footer p {
    font-size: 14px;
    color: white;
    margin-top: 20px;
}